In [95]:
!pip install --upgrade pip

Requirement already up-to-date: pip in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (18.1)

In [96]:
!pip install missingno

Requirement already satisfied: missingno in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (0.4.1)
Requirement already satisfied: numpy in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from missingno) (1.13.3)
Requirement already satisfied: seaborn in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from missingno) (0.8)
Requirement already satisfied: matplotlib in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from missingno) (3.0.2)
Requirement already satisfied: scipy in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from missingno) (1.0.0)
Requirement already satisfied: pandas in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from seaborn->missingno) (0.21.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from matplotlib->missingno) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from matplotlib->missingno) (1.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from matplotlib->missingno) (2.6.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from matplotlib->missingno) (2.2.0)
Requirement already satisfied: pytz>=2011k in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from pandas->seaborn->missingno) (2018.3)
Requirement already satisfied: six in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from cycler>=0.10->matplotlib->missingno) (1.11.0)
Requirement already satisfied: setuptools in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from kiwisolver>=1.0.1->matplotlib->missingno) (36.5.0.post20170921)

In [98]:
!pip install --upgrade scikit-learn

Requirement already up-to-date: scikit-learn in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (0.20.2)
Requirement already satisfied, skipping upgrade: numpy>=1.8.2 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from scikit-learn) (1.13.3)
Requirement already satisfied, skipping upgrade: scipy>=0.13.3 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from scikit-learn) (1.0.0)

In [99]:
!pip install xgboost==0.80

Requirement already satisfied: xgboost==0.80 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (0.80)
Requirement already satisfied: numpy in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from xgboost==0.80) (1.13.3)
Requirement already satisfied: scipy in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from xgboost==0.80) (1.0.0)

In [100]:
!pip install imblearn

Requirement already satisfied: imblearn in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from imblearn) (0.4.3)
Requirement already satisfied: numpy>=1.8.2 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from imbalanced-learn->imblearn) (1.13.3)
Requirement already satisfied: scikit-learn>=0.20 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from imbalanced-learn->imblearn) (0.20.2)
Requirement already satisfied: scipy>=0.13.3 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from imbalanced-learn->imblearn) (1.0.0)

In [101]:
!pip install TextBlob

Requirement already satisfied: TextBlob in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (0.15.2)
Requirement already satisfied: nltk>=3.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from TextBlob) (3.2.4)
Requirement already satisfied: six in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from nltk>=3.1->TextBlob) (1.11.0)

In [102]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy as sp
import zipfile, requests, io, os, sys, types, time
import seaborn as sns
import matplotlib.cm as cm
import statsmodels.api as sm
import itertools
import matplotlib
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import Binarizer
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'


from scipy import stats
from scipy.stats import norm, skew 

from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
import seaborn as sns


from sklearn.model_selection import train_test_split, KFold, cross_val_score, cross_val_predict
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor
#import lightgbm as lgb
from xgboost import XGBRegressor

from sklearn.preprocessing import RobustScaler, StandardScaler, MaxAbsScaler
from sklearn.metrics import mean_squared_error


from dateutil import parser, rrule
from datetime import datetime, time, date
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error, r2_score, precision_score, \
    recall_score, confusion_matrix, classification_report, \
    accuracy_score, f1_score

from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import SMOTE

from IPython.display import display
%matplotlib inline

pd.options.display.float_format = '{:20,.3f}'.format
pd.options.display.max_columns = None
pd.options.display.max_colwidth = 1000
np.set_printoptions(precision=3)

In [109]:
client_4583a2827cdd4084aebc758e0b87cb12.download_file(Bucket=bucket,Key='pluto_bx_raw_cos.pkl',Filename='./pluto_bx_raw_local.pkl')

In [110]:
df_bx = pd.read_pickle('./pluto_bx_raw_local.pkl')
df_bx.shape

(89854, 87)

In [111]:
df_bx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89854 entries, 0 to 89853
Data columns (total 87 columns):
Borough                 89854 non-null object
Block                   89854 non-null int64
Lot                     89854 non-null int64
CD                      89854 non-null int64
CT2010                  89447 non-null float64
CB2010                  87342 non-null float64
SchoolDist              89695 non-null float64
Council                 89649 non-null float64
ZipCode                 89525 non-null float64
FireComp                89568 non-null object
PolicePrct              89692 non-null float64
HealthCenterDistrict    89727 non-null float64
HealthArea              89630 non-null float64
SanitBoro               89235 non-null float64
SanitDistrict           89238 non-null float64
SanitSub                88789 non-null object
Address                 89785 non-null object
ZoneDist1               89795 non-null object
ZoneDist2               2553 non-null object
ZoneDist3               34 non-null object
ZoneDist4               2 non-null object
Overlay1                8827 non-null object
Overlay2                96 non-null object
SPDist1                 4602 non-null object
SPDist2                 0 non-null float64
SPDist3                 0 non-null float64
LtdHeight               0 non-null float64
SplitZone               89788 non-null object
BldgClass               89788 non-null object
LandUse                 89440 non-null float64
Easements               89854 non-null int64
OwnerType               16374 non-null object
OwnerName               89280 non-null object
LotArea                 89854 non-null int64
BldgArea                89854 non-null int64
ComArea                 89854 non-null int64
ResArea                 89854 non-null int64
OfficeArea              89854 non-null int64
RetailArea              89854 non-null int64
GarageArea              89854 non-null int64
StrgeArea               89854 non-null int64
FactryArea              89854 non-null int64
OtherArea               89854 non-null int64
AreaSource              89854 non-null int64
NumBldgs                89854 non-null int64
NumFloors               89854 non-null float64
UnitsRes                89854 non-null int64
UnitsTotal              89854 non-null int64
LotFront                89854 non-null float64
LotDepth                89854 non-null float64
BldgFront               89854 non-null float64
BldgDepth               89854 non-null float64
Ext                     29034 non-null object
ProxCode                89788 non-null float64
IrrLotCode              89788 non-null object
LotType                 89788 non-null float64
BsmtCode                89788 non-null float64
AssessLand              89854 non-null int64
AssessTot               89854 non-null int64
ExemptLand              89854 non-null int64
ExemptTot               89854 non-null int64
YearBuilt               89854 non-null int64
YearAlter1              89854 non-null int64
YearAlter2              89854 non-null int64
HistDist                854 non-null object
Landmark                111 non-null object
BuiltFAR                89854 non-null float64
ResidFAR                89854 non-null float64
CommFAR                 89854 non-null float64
FacilFAR                89854 non-null float64
BoroCode                89854 non-null int64
BBL                     89854 non-null int64
CondoNo                 89854 non-null int64
Tract2010               89854 non-null int64
XCoord                  86595 non-null float64
YCoord                  86595 non-null float64
ZoneMap                 89817 non-null object
ZMCode                  1688 non-null object
Sanborn                 89735 non-null object
TaxMap                  89735 non-null float64
EDesigNum               1470 non-null object
APPBBL                  89788 non-null float64
APPDate                 10969 non-null object
PLUTOMapID              89854 non-null int64
FIRM07_FLAG             3511 non-null float64
PFIRM15_FLAG            3332 non-null float64
Version                 89854 non-null object
dtypes: float64(32), int64(30), object(25)
memory usage: 59.6+ MB

In [112]:
df_bx = df_bx[['Address','BldgArea','BldgDepth','BuiltFAR',
                'CommFAR','FacilFAR', 
                'Lot','LotArea','LotDepth','NumBldgs','NumFloors',
                'OfficeArea','ResArea','ResidFAR','RetailArea',
                'YearBuilt','YearAlter1','ZipCode', 'YCoord', 'XCoord'
                ]]

In [113]:
df_bx.head(2)

,Address,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,YCoord,XCoord
0,122 BRUCKNER BOULEVARD,0,0.000,0.000,5.000,6.500,1,15000,200.000,1,0.000,0,0,6.020,0,0,0,"10,454.000","232,162.000","1,005,957.000"
1,126 BRUCKNER BOULEVARD,752,16.000,0.050,5.000,6.500,4,13770,100.000,2,1.000,272,0,6.020,0,1931,1994,"10,454.000","232,156.000","1,006,076.000"

In [114]:
df_bx['ZipCode']              = df_bx['ZipCode'].fillna(0).astype(int)
df_bx['NumFloors']            = df_bx['NumFloors'].fillna(0).astype(int)
df_bx['NumBldgs']             = df_bx['NumBldgs'].fillna(0).astype(int)
df_bx['LotDepth']             = df_bx['LotDepth'].fillna(0).astype(int)
df_bx['BldgDepth']            = df_bx['BldgDepth'].fillna(0).astype(int)
df_bx['BldgArea']             = df_bx['BldgArea'].fillna(0).astype(int)
df_bx['Lot']                  = df_bx['Lot'].fillna(0).astype(int)
df_bx['LotArea']              = df_bx['LotArea'].fillna(0).astype(int)
df_bx['BuiltFAR']             = df_bx['BuiltFAR'].fillna(0).astype(int)
df_bx['ResidFAR']             = df_bx['ResidFAR'].fillna(0).astype(int)
df_bx['CommFAR']              = df_bx['CommFAR'].fillna(0).astype(int)
df_bx['FacilFAR']             = df_bx['FacilFAR'].fillna(0).astype(int)
df_bx['OfficeArea']           = df_bx['OfficeArea'].fillna(0).astype(int)
df_bx['ResArea']              = df_bx['ResArea'].fillna(0).astype(int)
df_bx['RetailArea']           = df_bx['RetailArea'].fillna(0).astype(int)
df_bx['XCoord']               = df_bx['XCoord'].fillna(0).astype(int)
df_bx['YCoord']               = df_bx['YCoord'].fillna(0).astype(int)

In [115]:
client_4583a2827cdd4084aebc758e0b87cb12.download_file(Bucket=bucket,Key='DataFromNoteBookQ2_cos.pkl',Filename='./DataFromNoteBookQ2_local.pkl')

In [116]:
df_complaint = pd.read_pickle('./DataFromNoteBookQ2_local.pkl')
df_complaint.shape

(520749, 19)

#### Removing Duplicates

In [117]:
df_pluto_bx = df_bx[df_bx['Address'].notnull()]
print(df_pluto_bx.shape)
df_pluto_bx = df_pluto_bx.drop_duplicates(subset=['Address','ZipCode'], keep='first') #or last
print(df_pluto_bx.shape)

(89785, 20)
(87384, 20)

#### We first aggregare the cimplaint data at address, year and month level

In [118]:
df_complaint_aggr = df_complaint.groupby(['created_year', 'created_month', 'incident_address'], as_index=False).agg({'unique_key':'count'})
df_complaint_aggr.columns = ["created_yr","created_mnth", "Address", "complaintCnt"]

In [119]:
mnthdata = [1,2,3,4,5,6,7,8,9,10,11,12]
df_mnth = pd.DataFrame(mnthdata)
df_mnth.columns = ["mnth"]

In [120]:
df_mnth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 1 columns):
mnth    12 non-null int64
dtypes: int64(1)
memory usage: 176.0 bytes

In [121]:
df_bx_mnth = pd.merge(df_pluto_bx.assign(key='x'), df_mnth.assign(key='x'), on='key').drop('key', 1)
df_bx_mnth.shape

(1048608, 21)

In [122]:
yrdata = [2013,2014,2015,2016,2017,2018]
df_yr = pd.DataFrame(yrdata)
df_yr.columns = ["yr"]

In [123]:
df_bx = pd.merge(df_bx_mnth.assign(key='x'), df_yr.assign(key='x'), on='key').drop('key', 1)
df_bx.shape

(6291648, 22)

In [124]:
df_complaint_aggr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153473 entries, 0 to 153472
Data columns (total 4 columns):
created_yr      153473 non-null int64
created_mnth    153473 non-null int64
Address         153473 non-null object
complaintCnt    153473 non-null int64
dtypes: int64(3), object(1)
memory usage: 5.9+ MB

In [125]:
df_complaint_12to17_aggr = df_complaint_aggr[df_complaint_aggr['created_yr'].isin([2012,2013,2014,2015,2016, 2017])]
df_complaint_12to17_aggr.shape

(121169, 4)

# <font color="maroon">Join PLUTO and Complaint dataset based on address, month and year</font>

In [29]:
df_combo = pd.merge(df_bx, df_complaint_12to17_aggr, left_on=['Address', 'mnth', 'yr'], right_on=['Address','created_mnth', 'created_yr'], how='left')
print(df_combo.shape)
print(df_complaint_12to17_aggr.shape)
print(df_bx.shape)

(6291648, 25)
(121169, 4)
(6291648, 22)

In [30]:
df_combo.head(2)

,Address,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,YCoord,XCoord,mnth,yr,created_yr,created_mnth,complaintCnt
0,122 BRUCKNER BOULEVARD,0,0,0,5,6,1,15000,200,1,0,0,0,6,0,0,0,10454,232162,1005957,1,2013,nan,nan,nan
1,122 BRUCKNER BOULEVARD,0,0,0,5,6,1,15000,200,1,0,0,0,6,0,0,0,10454,232162,1005957,1,2014,nan,nan,nan

In [31]:
df_combo['complaintCnt'] = df_combo.complaintCnt.fillna('0').astype(int)
df_combo['created_mnth'] = df_combo.created_mnth.fillna('0').astype(str)
df_combo['created_yr'] = df_combo.created_yr.fillna('0').astype(str)

#### Let us filter out the data that has YearBuilt as 0 to remove bad data

In [32]:
df_combo = df_combo[df_combo['YearBuilt'] > 0]
print(df_combo.shape)

(5996520, 25)

#### Let us create 2 new features Building Age from YearBuilt and Builkding Altered Age from YearAlter1

In [33]:
df_combo['bldg_age'] = df_combo.apply(lambda x: x['yr']-x['YearBuilt'] , axis=1)
print(df_combo.shape)

(5996520, 26)

In [34]:
df_combo['bldg_alt_age'] = df_combo.apply(lambda x: x['yr']-x['YearAlter1'] if x['YearAlter1']>0 else x['bldg_age'], axis=1)
print(df_combo.shape)

(5996520, 27)

In [35]:
df_combo.head(2)

,Address,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,YCoord,XCoord,mnth,yr,created_yr,created_mnth,complaintCnt,bldg_age,bldg_alt_age
72,126 BRUCKNER BOULEVARD,752,16,0,5,6,4,13770,100,2,1,272,0,6,0,1931,1994,10454,232156,1006076,1,2013,0,0,0,82,19
73,126 BRUCKNER BOULEVARD,752,16,0,5,6,4,13770,100,2,1,272,0,6,0,1931,1994,10454,232156,1006076,1,2014,0,0,0,83,20

In [36]:
def cnt_range(cnt):
    if cnt <= 0:
        rng = 0
    elif cnt <= 10 and cnt > 0:
        rng = 1
    elif cnt <= 100 and cnt > 10:
        rng = 10
    elif cnt > 100:
        rng = 100
    else:
        rng = 10
    return rng

In [37]:
df_combo['complaint_range'] = df_combo['complaintCnt'].apply(lambda x: cnt_range(x))
df_combo.shape

(5996520, 28)

In [38]:
df_combo.groupby(['complaint_range']).count()

,Address,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,YCoord,XCoord,mnth,yr,created_yr,created_mnth,complaintCnt,bldg_age,bldg_alt_age
complaint_range,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347,5914347
1,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496,77496
10,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607,4607
100,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70

#### In next step we are filtering out the records which have complaint count in a month that is more than 10 as the number of such records is very low

In [126]:
df_combo_bin = df_combo[df_combo['complaint_range'] <= 1]
df_combo_bin.shape

(5991843, 28)

#### Let us now create a Random Forest Classification model which can predict for a given month wherther there would be Hating Complaint at an address or not. To create the model we shall use data for 2012 to 2016 and we shall test the model with data for 2017

In [127]:
df_combo_train = df_combo_bin[df_combo_bin['yr'].isin([2012,2013,2014,2015,2016])]
df_combo_train.shape

(3993826, 28)

In [128]:
df_combo_tst = df_combo_bin[df_combo_bin['yr'].isin([2017])]
df_combo_tst.shape

(998597, 28)

In [79]:
scaler = RobustScaler()

In [80]:
clsfRF = RandomForestClassifier(n_estimators=10, random_state=5)
pipeRFC = Pipeline(steps=[('scaler', scaler), ('classification', clsfRF)])

In [103]:
feats = df_combo_train.columns.tolist()
#response = 'ht_compl_flg' # change to delta later
response = 'complaint_range'
#feats.remove(response)
feats.remove('complaintCnt')
feats.remove('complaint_range')
feats.remove('Address')
feats.remove('YearBuilt')
feats.remove('YearAlter1')
feats.remove('yr')
feats.remove('created_yr')
feats.remove('created_mnth')


X = df_combo_train[feats]
y = df_combo_train[response]

Xt = df_combo_tst[feats]
Yt = df_combo_tst[response]

In [104]:
Yt.shape

(998597,)

In [105]:
pipeRFC.fit(X, y)

Pipeline(memory=None,
     steps=[('scaler', RobustScaler(copy=True, quantile_range=(25.0, 75.0), with_centering=True,
       with_scaling=True)), ('classification', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min...imators=10, n_jobs=None,
            oob_score=False, random_state=5, verbose=0, warm_start=False))])

In [106]:
y_pred_rfc = pipeRFC.predict(Xt)
y_pred_rfc.shape

(998597,)

In [107]:
print("R2 score : %.5f" % r2_score(Yt,y_pred_rfc))
print("Mean squared error: %.5f" % mean_squared_error(Yt,y_pred_rfc))
print("RMSE:%.5f " % mean_squared_error(Yt, y_pred_rfc)**0.5)

print('Recall:', recall_score(Yt, y_pred_rfc))
print('Precision:', precision_score(Yt, y_pred_rfc))
print('Clasification report: \n', classification_report(Yt, y_pred_rfc))
print('Confussion matrix:\n',confusion_matrix(Yt, y_pred_rfc))

R2 score : -0.19987
Mean squared error: 0.01667
RMSE:0.12912
Recall: 0.327128037516
Precision: 0.390732411101
Clasification report:
               precision    recall  f1-score   support

           0       0.99      0.99      0.99    984523
           1       0.39      0.33      0.36     14074

   micro avg       0.98      0.98      0.98    998597
   macro avg       0.69      0.66      0.67    998597
weighted avg       0.98      0.98      0.98    998597

Confussion matrix:
 [[977344   7179]
 [  9470   4604]]